body {
  background-image: url(/img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
}

/* Style per il container  */
.container {
  width: 1000px;
  margin: 20px auto 100px auto;
  padding: 100px 80px 100px 80px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

/* Style per header */
.logo {
  display: block;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

header h1 {
  color: lime;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Style nav bar  */
nav {
  background-color: lime;
  text-align: center;
  padding: 10px 0 10px 0;
}

.btn {
  background-color: white;
  border: solid 1px black;
  border-radius: 2px;
}

/* Style main content */
main {
  color: white;
}

.square {
  display: inline-block;
  background-color: white;
  width: 10px;
  height: 10px;
  border: solid 1px black;
  border: radius 1px;
}

main h2 {
  display: inline-block;
  margin-bottom: 0;
}

main p {
  margin-top: 10px;
  margin-bottom: 0;
}

/* Style e colori progressbar */

#first-bar {
  border-radius: 5px;
  background-color: orange;
  width: 40%;
  height: 30px;
}

#second-bar {
  border-radius: 5px;
  background-color: lime;
  width: 70%;
  height: 30px;
}

#third-bar {
  border-radius: 5px;
  background-color: rgb(247, 16, 16);
  width: 20%;
  height: 30px;
}
